@import "tailwindcss";

@theme {
  /* ===== COLORS ===== */
  --color-primary:        #034845;
  --color-gold:           #a29c7b;
  --color-cream:          #eeece6;
  --color-neutral-50:     #f5f5f5;
  --color-neutral-100:    #dedede;
  --color-neutral-300:    #676767;
  --color-neutral-400:    #465150;
  --color-neutral-500:    #333f3e;
  --color-white: #fff;

  /* ===== FONTS ===== */
  --font-sans:   'Cascadia Code', monospace;
  --font-serif:  'Amiri', serif;

  /* ===== SHADOWS ===== */
  --shadow-navbar: 0px 8px 8px rgba(0, 18, 9, 0.15);
}

/* ===== BASE ===== */
html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-cream);
  font-family: var(--font-sans);
}

*{
 
  box-sizing: border-box;
}